@charset "UTF-8";

/*  Custom CSS RTL */

/* --------------- */

/*  Align icons position */

.main-menu .navigation li > a > i,
.main-menu .dropdown-menu i,
.main-menu .dropdown-user > a > i,
.main-menu .navigation > li > a > i {
  float: right;
}

.dropdown-user.nav-item i {
  float: right;
}

.dropleft .dropdown-toggle::before {
  content: "\E9B2" !important;
}

.dropleft .dropdown-menu {
  margin-right: 0.3rem;
}

.dropright .dropdown-menu {
  margin-left: 0.3rem;
  right: -add(1.5rem) !important;
}

.horizontal-menu .main-menu-content #main-menu-navigation > li > a > i {
  float: right;
}

.menu-expanded .form-group i {
  float: inherit;
}

.form-control-position i {
  top: 25%;
  position: absolute;
  right: 25%;
}

/* Dopzone horizontal scrollbar issue */

.dz-hidden-input {
  position: relative !important;
}

/* RTL version sticky sidebar float */

.content-wrapper .sticky-wrapper,
.content-right-sidebar .sticky-wrapper {
  float: left;
}

.ui-widget-icon-block {
  right: 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 3rem;
}

.square.slider-xl .noUi-handle:before {
  left: 5px;
}

.square.slider-xl .noUi-handle:after {
  left: 10px;
}

.square .noUi-handle:before {
  left: 0px;
}

.square .noUi-handle:after {
  left: 5px;
}

.square.slider-xs .noUi-handle:before {
  left: -2px;
}

.square.slider-xs .noUi-handle:after {
  left: 1px;
}

.noUi-vertical.square .noUi-handle:before {
  left: -1px;
}

.noUi-vertical.square .noUi-handle:after {
  left: -1px;
}

.btn i[class^=icon-],
.btn i[class*=" icon-"] {
  line-height: 1.25rem;
}

code[class*=language-],
pre[class*=language-] {
  direction: ltr;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}

/* Email Application */

.email-application .app-content .list-group .list-group-item i {
  float: right !important;
}

/* Perfact scrollbar RTL fix */

body .ps__rail-y {
  right: -6px !important;
}

/*  calendar app */

.calendar-application .content-wrapper .sidebar .sidebar-calendars .tui-full-calendar-checkbox-round + span {
  margin-left: 8px;
}

/* Input Group with Dropdown Component */

.input-group .input-group-prepend .dropdown-menu {
  right: auto;
}

/* Quill Editor - arrow icons */

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right: auto;
}

.popover {
  right: initial !important;
}

.popover.bs-popover-left {
  margin-right: 0.5rem;
  margin-left: 0;
}

.popover.bs-popover-right {
  margin-left: 0.5rem;
  margin-right: 0;
}

.bs-popover-left > .arrow,
.bs-popover-auto[x-placement^=left] > .arrow {
  right: calc((0.5rem + 1px) * -1);
  left: initial;
  transform: rotate(180deg);
}

.bs-popover-right > .arrow,
.bs-popover-auto[x-placement^=right] > .arrow {
  left: calc((0.5rem + 1px) * -1);
  right: initial;
  transform: rotate(180deg);
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 0.5em;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 40s linear infinite;
          animation: progress-bar-stripes 40s linear infinite;
}

.kanban-board {
  float: right !important;
}

.kanban-container .kanban-board .kanban-board-header .kanban-title-button {
  right: 14px;
}

.breadcrumb:not(.breadcrumb-divider) .breadcrumb-item + .breadcrumb-item:before {
  transform: rotate(180deg);
  padding-left: 0 !important;
  padding-right: 0.93rem;
}

.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a > i {
  transform: rotate(180deg);
}

.horizontal-menu .navbar-expand-sm .navbar-nav .dropdown-menu li a i {
  transform: rotate(180deg);
  margin-left: 0.7rem !important;
  margin-right: -0.55rem;
}

.carousel .carousel-control-prev span:first-child,
.carousel .carousel-control-next span:first-child {
  transform: rotate(180deg);
}

.pagination .page-link:first-child i,
.pagination .page-link:first-child span[aria-hidden],
.pagination .page-link:last-child i,
.pagination .page-link:last-child span[aria-hidden] {
  transform: rotate(180deg);
}

.ql-bubble .ql-editor {
  overflow-y: inherit;
}

